html {
  font-family: Helvetica,Arial; }

body {
  margin: 0;
  padding: 0; }

video {
  height: 100%;
  width: 100%;
  background-size: cover; }

input {
  margin-top: 100px;
  width: 314px;
  height: 32px; }
